@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');



.main{
    margin-top: -100px;
    width: 100%;
    background-image: url('https://static.standard.co.uk/s3fs-public/thumbnails/image/2018/10/04/16/peakyblinders.jpg');
    background-repeat: no-repeat;
    height: 1400px;
    background-attachment: scroll;
    margin: 0 !important;
    padding: 0 !important;
    
}

.content-title{
    padding-top: 250px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 48px;
    width: 40%;
}

.content-text{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 36px;
    width: 40%;
}

.custom-container{
    padding: 0 10% !important;
}

.main-text-content{
    text-align: left;
    width: 100%;
}